[mysqld]
character-set-server=utf8mb4
explicit-defaults-for-timestamp=1
general-log=1
sql_mode=ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION
max_prepared_stmt_count=1048576
#default-time-zone='Asia/Tokyo'
port=3305

[client]
default-character-set=utf8mb4
port=3305